# Go Binaries & Builds
*.exe
*.exe~
*.dll
*.so
*.dylib
grotto
bin/
dist/
build/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependencies

# vendor/   # uncomment if you use vendoring

# Go workspace file
go.work
go.work.sum

# Environment & Config
.env
.env.*
*.env
config.toml

# Python / MLflow
**pycache**/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
*venv/
*/venv/
*/.venv/
./mlflow-service/venv

# MLflow artifacts
mlflow-service/mlruns/
mlflow-service/artifacts/
mlflow-service/*.db

# Optional model weights
*.pth
*.pt

# Node / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.tar
*.img

# Testing / Cache
.cache/
.tmp/

# Editor / IDE
.vscode/
.idea/
*.iml

# OS Files
.DS_Store
Thumbs.db
